<title>Loup Garou CPP</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css" />
<body>
	<div>
	</div>
	<div class="form-style-6">
	<h1>Bienvenue, administrateur</h1>
	<form action="/administration" method="post">
	<input type="password" name="mdp" placeholder="Mot de passe" />
	<input type="submit" name="hi" value="Observer la partie" />
	<input type="submit" name="hi" value="Ouvrir les inscriptions">
	<input type="submit" name="hi" value="Commencer une partie">
	</form>
	</div>
</body>