<title>Loup Garou CPP</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css" />
<body>
	<div>
	</div>
	<div class="form-style-6">
	<h1>Bienvenue, administrateur</h1>
	<p>Moment = {{ moment }}</p>
	<p>
	Actuellement inscrits : <br>
	{% for one in users %}
	- {{ one }} : {{ users[one] }} ; {{ roles[one] }} ; {{ votes [one] }}<br>
	{% endfor %}
	</p>
	<form action="/sql" method="post">
	<input type="text" name="to" placeholder="commande SQL" />
	<input type="submit" value="Valider" />
	</form>
	</div>
</body>