<title>Loup Garou CPP</title>
<link href="{{ url_for('static', filename='css main.css') }}" rel="stylesheet" type="text/css" />
<body>
	<div class="form-style-6">
		<h1>Bienvenue sur le loup garou du CPP !</h1>
		<p>Participez à des parties épiques, entre 8 et 35,184,372,056,064 joueurs ! Basé sur le principe du Loup Garou, le Loup Garou CPP ™ est une imense partie, réservée aux membres de la prépa, qui sera façonnée par VOUS ! Des évenements organisés par le BDE aux personnages spéciaux issus des extensions et de notre imagination, nous esperons sincérement que vous trouverez ici votre bonheur. 
		La première partie commencera le 28 Avril, les inscriptions sont déjà ouvertes (voir ci-dessous).
		Bon jeu ! <br>
		<br>
		Nous sommes toujours en quête d'améliorations à notre site. Une suggestion ? Une idée ? Concrétisez là, décrivez là proprement et envoyez-nous là - et peut-être qu'elle sera retenue ! Voir cadre en dessous pour les détails de contact.
		</p>
		<p>
		Note : nous rappelons que les mots de passe ne sont pas chiffrés avant d'être stockés. Nous vous conseillons de ne pas utiliser de mot de passe sensible pour Loup Garou CPP, simplement quelque chose qui garantira que vous seul avez accès à votre compte. <br> <br>
		Créé par Loic Faucher et Baruch Byrdin. Pour nous insulter, nous menacer de mort ou nous crier dessus en général, n'hésitez pas à nous contacter par mail ou Facebook!
		</p>
	</div>
	<div class="form-style-6">
	<h1>Lancez vous dans l'aventure :</h1>
	<form action="/login">
		<input type="submit" value="Se connecter">
	</form>
	<form action ="/signin">
		<input type="submit" value="Créer un compte">
	</form>
	<img src="../static/main.png">
	</div>
</body>