<title>Loup Garou CPP</title>
<meta http-equiv="refresh" content="5" >
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css" />
<body>
	<div>
	</div>
	<div class="form-style-6">
		<h1>Bienvenue, {{nomduser}}</h1>
		<p>{{ message }}</p>
		{% if rip [0] != None %}
		<div class="avertissement">
		<p> Dernier mort : {{ rip[0] }} , tué par {{ rip[1] }}. Il était {{ rip[2] }}</p>
		</div>
		{% endif %}
		<p>
		Votes actuels : <br> <br>
		{% for one in users %}
		- {{ one }} : {{ users[one] }} <br>
		{% endfor %}
		</p>
		<p> Cimetière : <br> <br>
		{% for a in morts %}
		- {{ a }} <br>
		{% endfor %}
		</p>
		{% if message == "C'est le jour - tout le monde participe !" %}
		<form action="/voteAll">
			<input type="submit" value="Aller voter">
		</form>
		{% endif %}
		<form action="/">
			<input type="submit" value="Retour à la page d'accueil">
		</form>
	</div>
</body>